@page "/Account/medical-records"
@using HealthcareManager.Components.Account.Pages.DTO
@using HealthcareManager.Data.Repositories
@using Telerik.Blazor.Components
@using Telerik.Blazor
@inherits OwningComponentBase

@inject NavigationManager NavigationManager
@inject SQLMedicalRecordsRepository MedicalRecordsRepository

<h3>Medical Records</h3>

@if (records == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TelerikExpansionPanelList>
        @foreach (var record in records)
        {
            <TelerikExpansionPanel>
                <HeaderTemplate>
                    <h5 class="mb-0">@record.CreatedDate @record.FirstName @record.LastName</h5>
                </HeaderTemplate>
                <ContentTemplate>
                    <div class="card-body">
                        <p><strong>Address:</strong> @record.Address</p>
                        <p><strong>Postal Code:</strong> @record.PostalCode</p>
                        <p><strong>Created Date:</strong> @record.CreatedDate?.ToString("g")</p>
                        <p><strong>Blood Pressure:</strong> @record.BloodPressure</p>
                        <p><strong>Heart Rate:</strong> @record.HeartRate</p>
                        <p><strong>Temperature:</strong> @record.Temperature</p>
                        <p><strong>Pulse Ox:</strong> @record.PulseOximetry</p>
                        <p><strong>Height:</strong> @record.Height</p>
                        <p><strong>Weight:</strong> @record.Weight</p>
                        <p><strong>Role:</strong> @record.Role</p>
                    </div>
                </ContentTemplate>
            </TelerikExpansionPanel>
        }
    </TelerikExpansionPanelList>
    <TelerikButton Icon="FontIcon.PlusCircle" OnClick="@Navigate">Add Record</TelerikButton>
}

@code {
    private List<UserFormDTO> records;

    protected override async Task OnInitializedAsync()
    {
        records = await MedicalRecordsRepository.GetAllRecordsAsync();
        StateHasChanged();
    }

    private void Navigate()
    {
        NavigationManager.NavigateTo("/Account/Register/Data");
    }
}
