@using HealthcareManager.Components.Account.Shared
@using HealthcareManager.Components.Layout
@using HealthcareManager.Data
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="NavMenu.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" />
    <script src="~/HCManager.js"></script>
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js"></script>
    <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-default/all.css" />
    <link href="_content/BlazorPro.Spinkit/spinkit.min.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <component type="typeof(App)" render-mode="Interactive" InteractiveServerRenderMode="Interactive" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Add chart.js reference if chart components are used in your application. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.umd.js" integrity="sha512-gQhCDsnnnUfaRzD8k1L5llCCV6O9HN09zClIzzeJ8OJ9MpGmIlCxm+pdCkqTwqJ4JcjbojFr79rl2F1mzcoLMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Add chartjs-plugin-datalabels.min.js reference if chart components with data label feature is used in your application. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Add sortable.js reference if SortableList component is used in your application. -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
</body>

</html>

<AppState @ref="AppState">
    <Application>
        <CascadingValue Value="@authenticationState" TValue="AuthenticationState">
            <Router AppAssembly="@typeof(App).Assembly" OnNavigateAsync="@(NavigateAsync)">
                <Navigating>
                    <TelerikLoaderContainer LoaderPosition="@(LoaderPosition.Top)"
                                            LoaderType="@LoaderType.InfiniteSpinner" Size="@(ThemeConstants.Loader.Size.Large)" ThemeColor="primary" Visible="@(true)">
                                        </TelerikLoaderContainer>
                </Navigating>
                <Found Context="routeData">
                    <RouteView DefaultLayout="@typeof(MasterLayout)" RouteData="@(routeData)"/>
                </Found>
                <NotFound>
                    <LayoutView Layout="@typeof(MasterLayout)">
                        <PageTitle>Not Found</PageTitle>
                    </LayoutView>
                </NotFound>
            </Router>
        </CascadingValue>
    </Application>
</AppState>

@code {
    [Inject]
    NavigationManager navigationManager { get; set; }
    [Inject]
    protected ILogger<App> Logger { get; set; }
    private AppState AppState { get; set; }
    private AuthenticationState authenticationState { get; set; }
    [Parameter]
    public string Cookie { get; set; }
    internal string SSN { get; private set; }

    private async Task NavigateAsync(NavigationContext args)
    {
        AppState = new AppState();
        SSN = String.Empty;
        bool shouldNavigate = false;
    }
}
